body{
	background-color:skyblue;
	font-size:40px; 
	font-family: 'Homenaje', sans-serif;
	border:5px solid black;
	padding:10px;
	
}
h1{
	color:blue;
	font-family: 'Great Vibes', cursive;
	padding:10px;
}
img{
	position:absolute;
	right:30px;
	top:210px;
	width:325px;
	height:325px; 
	
}